<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cokonet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
      body{margin-top:20px;
background-color:black;
color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
  </script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="Dashboard" style="float: right;">
    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
    Cokonet
  </a>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Create Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="viewblog">View Blog</a>
        </li>

      </ul>

      <div class="dropdown" style="margin-right:80px;">
    <a class="navbar-brand dropdown-toggle" href="#"  data-bs-toggle="dropdown">
      <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" alt="Logo" style="width:40px;" class="rounded-pill">
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="createpro">Create profile</a></li>
      <li><a class="dropdown-item" href="profile">View profile</a></li>
      <li><a class="dropdown-item" href="propic">Upload Profile pic</a></li>
      <li><a class="dropdown-item" href="editpro">Edit profile</a></li>
      <li><a class="dropdown-item" href="changepass">Change password</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="logout">Logout</a></li>
    </ul>
  </div>
    </div>
  </div>
</nav>


 <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-6">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Create Blog</div>
                <div class="card-body" >
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Topic</label>
                                <input class="form-control" id="inputFirstName" type="text" name="topic" >
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Blog Title</label>
                                <input class="form-control" id="inputLastName" type="text" name="blogtitle" >
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Upload Image</label>
                            <input class="form-control" id="inputEmailAddress" type="file" name="image">
                        </div>

                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputphone">Blog content</label>
                                <textarea class="form-control" rows="10" id="inputphone" name="content" style="width:720px;"></textarea>
                            </div>

                        </div>

                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Create Blog</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>