{% extends 'home.html'%}
{% block body %}


<br><br><br>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
         <div class=" image d-flex flex-column justify-content-center align-items-center">
             <button class="btn btn-secondary">
                  <img src="{{data1.profile_pic}}" height="100" width="100" />
             </button>
             <span class="name mt-3">{{data.first_name}} {{ data.last_name}}</span>
             <span class="idd">Email: &nbsp;{{data.email}}</span>
             <span class="idd">Phone: &nbsp;{{data1.phone}}</span>
             <span class="idd">DOB: &nbsp;{{data1.DOB}}</span>
             <span class="idd">Address:&nbsp; {{data1.address}}</span>
             <span class="idd">City:&nbsp; {{data1.city}}</span>

             <div class=" d-flex mt-2">
                 <button class="btn1 btn-dark"><a href="editpro">Edit Profile</a></button>
            </div>

            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                <span><i class="fa fa-twitter"></i></span>
                <span><i class="fa fa-facebook-f"></i></span>
                <span><i class="fa fa-instagram"></i></span>
                <span><i class="fa fa-linkedin"></i></span>
            </div>
            <div class=" px-2 rounded mt-4 date ">
                <span class="join">Date Join: {{date_join}}</span>
            </div>
            </div>
            </div>
</div>
{% endblock %}
